<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>ワークアウト中に音楽を操作するために使用します</string>
	<key>NSMediaLibraryUsageDescription</key>
	<string>ワークアウト中の音楽再生情報を表示するために使用します</string>
</dict>
</plist>
